<!DOCTYPE html>
<html>
<head>
	<title>User Info</title>
</head>
<body>
<ul>
  {{#each userData}}
    <b>Question: </b>
    <br>
    {{this.question_name}}
	<br>
    <b> Actual Answer: </b> 
    <br>
    {{this.question_actual_answer}}
    <br>
    <b>User Answer: </b> 

    <br>
     {{this.question_user_answered}}</li>
 
  {{/each}}
</ul>

</body>
</html>